<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KiwiSeki</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <%- include("components/navbar.ejs") %>
    <main>
      <img class="user" src="/images/user.png" alt="" />
      <h2><%= user.username %></h2>
      <p>위키 수정 <%= user.editCount %>회</p>
      <p>위키 생성 <%= user.wikiCount %>회</p>
    </main>
    <%- include("components/footer.ejs") %>
  </body>
</html>
