<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KiwiSeki</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <%- include("components/navbar.ejs") %>
    <main>
      <form action="/request/edit" method="post">
        <h3>위키 요청 수정</h3>
        <h1><%= request.title %></h1>
        <p>
          <label for="content">내용</label><br />
          <textarea name="content" id="content" rows="15" minlength="30" required><%= request.content %></textarea>
        </p>
        <p>
          <input type="submit" value="확인" />
        </p>
        <input type="hidden" name="requestId" value="<%= request._id %>" />
      </form>
    </main>
    <%- include("components/footer.ejs") %>
  </body>
</html>
