<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KiwiSeki</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <style>
      .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 4px;
        border-bottom: 2px solid var(--secondary);
      }

      .info,
      .content {
        width: 100%;
      }
    </style>
  </head>

  <body>
    <%- include("components/navbar.ejs") %>
    <main>
      <h1><%= wiki.title %></h1>
      <div class="info">
        <div>
          <a href="/profile/<%= wiki.creator._id %>"><b><%= wiki.creator.username %></b></a>
          <span class="date"><%= new Date(wiki.createdTime).toLocaleString("ko-KR") %></span>에 생성됨<br />
          <span class="date"><%= new Date(wiki.lastUpdateTime).toLocaleString("ko-KR") %></span>에
          <a href="/profile/<%= wiki.lastUpdateUser._id %>"><%= wiki.lastUpdateUser.username %></a>(이)가 마지막으로
          수정
        </div>
        <div>
          <button onclick="location.assign('/edit/<%= wiki._id %>')">수정</button>
        </div>
      </div>
      <pre class="content"><%= wiki.content %></pre>
      <% if (wiki.previousContent) { %>
      <button onclick="showDialog()">이전 내용 보기</button>
      <% } %>
    </main>
    <%- include("components/footer.ejs") %>
    <dialog id="previous">
      <h3>이전 내용</h3>
      <h1><%= wiki.title %></h1>
      <pre class="content"><%= wiki.previousContent %></pre>
      <button onclick="closeDialog()">닫기</button>
    </dialog>

    <script>
      const dialog = document.getElementById("previous");

      function showDialog() {
        dialog.showModal();
      }

      function closeDialog() {
        dialog.close();
      }
    </script>
  </body>
</html>
